<div class="container mycontainer">
    <div class="row justify-content-around align-items-end myrow">
        <div class="col-6 mycol">
                <a routerLink="addrequest">
                        <div class="card bg-info text-white">
                                <br>
                                <img class="card-img-top" src="assets\Img\request.jpg" alt="Add new Request">
                                <div class="card-body">Add new Request</div>
                        </div>
                </a>
                
        </div>
        <div class="col-6 mycol">
                <a routerLink="status">
                        <div class="card bg-info text-white">
                                <br>    
                                <img class="card-img-top" src="assets\Img\status.jpg" alt="Status of Requests">
                                <div class="card-body">Status of Requests</div>
                        </div>    
                </a>        
        </div>
    
    </div>
</div>